@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 60 5% 20%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 60 9.1% 9.8%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 60 3.8% 46.1%;

    --accent: 60 9.1% 90%;
    --accent-foreground: 60 9.1% 9.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 60 5.9% 90%;
    --input: 60 5.9% 90%;
    --ring: 60 5.1% 40.2%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13%; /* #222222 */
    --foreground: 60 9.1% 97.8%;

    --card: 0 0% 13%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 0 0% 13%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 62 39% 52%; /* #B3B751 */
    --primary-foreground: 60 9.1% 9.8%;

    --secondary: 167 44% 50%; /* #45B69C */
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 167 44% 50%; /* #45B69C */
    --accent-foreground: 60 9.1% 9.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 62 39% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer utilities {
  @keyframes orbit {
    0% {
      transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
  }
  .orbiting-item {
    animation: orbit 20s linear infinite;
  }

  @keyframes flow {
    0% {
      transform: translateX(-100%) translateY(-100%) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      transform: translateX(100vw) translateY(100vh) rotate(45deg);
      opacity: 0;
    }
  }

  .flow-item-1 {
    animation: flow 10s linear infinite;
  }
  .flow-item-2 {
    animation: flow 10s linear infinite 2s;
  }
  .flow-item-3 {
    animation: flow 10s linear infinite 5s;
  }
}
